<?xml version="1.0" ?>
<launch>
  <arg name="model" default="$(find fwomni)/urdf/fwomni.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <arg name="rvizconfig" default="$(find fwomni)/config/urdf.rviz"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find fwomni)/worlds/lagori_arena_with_obstacles.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model fwomni" output="screen"/>

  <!-- <node pkg="fwomni" name="odom_broadcaster" type="odom_pub.py" output="screen" /> -->

  <include file="$(find fwomni)/launch/controller.launch"/>
  <include file="$(find fwomni)/launch/display.launch"/>

  <!-- <node pkg="fwomni" name="controller" type="control.py" output="screen" /> -->
  <!-- <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/> -->

</launch>
